*, *:before, *:after {
    box-sizing: border-box;
}
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-image: url(../img/background/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: verdana;
  }
ol, ul {
    list-style: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
datalist::-webkit-calendar-picker-indicator{
    display: none;
}
a {
    text-decoration: none;
}
img {
    max-height: 15em;
    max-width: 20em;
    min-width: 20em;
    min-height: 15em;
}
/* Menu */
ul.mu {
    background-color: #E48634;
    padding: 5px;
    display: flex;
    align-items: center;
  }
  
  ul.mu > li.log {
    margin-left: auto;
  }
  
  ul.mu > li.log > p, form {
    color: #F3F3F3;
    display: inline-block;
  }
  
  ul.mu > li.menu > a {
    display: block;
    color: #F3F3F3;
    font-size: 21px;
    font-family: Verdana;
    padding: 17px;
  }